<!-- <!DOCTYPE html>
<html>
<head>
    <title>Malaria Microscopy Malaria Captioning</title>
</head>
<body>
    <h1>Upload Image for Captioning</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*">
        <button type="submit">Upload</button>
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <title>Image Captioning</title>
</head>
<body>
    <h1>Upload Image for Captioning</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*">
        <button type="submit">Upload</button>
    </form>
</body>
</html>
